<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スケジュール</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <script src="../js/jquery-3.5.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>
    <form action="/" method="post">
        <label for="date">日付:</label>
        <input type="date" id="dateForm" name="date">

        <label for="task">タスク:</label>
        <input type="text" id="taskForm" name="task">

        <button type="button" id="add_button" value="追加">追加</button>
    </form>

    <table class="table">
        <thead>
            <th class="col">日付</th>
            <th class="col-8">タスク</th>
            <th class="col">削除</th>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>

    <!-- JS -->
    <script src="../js/script.js"></script>
</body>

</html>